[Unit]
Description=Microclimate Extended VK Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/root/microclimate
ExecStart=/home/root/microclimate/.venv/bin/python /home/root/microclimate/src/vk_bot_full.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
